.info-container {
  margin-top: 2rem;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;

  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .info-text {
    padding-left: 1rem;

    strong {
      font-weight: 700;
      font-size: 2.25rem;
      color: var(--text-title);
    }

    p {
      font-weight: 400;
      font-size: 1.25rem;
      color: var(--title-description);
    }
  }
}

.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;

  padding: 2rem;

  div {
    strong {
      font-weight: 700;
      font-size: 2.25rem;
      color: var(--text-title);
    }

    p {
      font-weight: 400;
      font-size: 1.25rem;
      color: var(--summary);
    }
  }
}
